<style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 30px;
    text-align: center;
  }
</style>

<div class="gallery">
  <a target="assets/img/template1.jpg" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/developer.jpg"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Developer</div>
</div>

<div class="gallery">
  <a target="assets/img/template2.jpg" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/speaker.png"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Public Speaker</div>
</div>

<div class="gallery">
  <a target="assets/img/template3.jpg" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/webdesigner.jpg"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Web Designer</div>
</div>

<div class="gallery">
  <a target="assets/img/template4.png" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/consultant.jpg"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Consultant</div>
</div>

<div class="gallery">
  <a target="assets/img/template5.png" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/datascientist.png"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Data Scientist</div>
</div>

<div class="gallery">
  <a target="assets/img/template6.jpg" data-lightbox-gallery="zenda-gallery">
    <img
      src="assets/img/photographer.jpg"
      alt="gallery img"
      width="800"
      height="800"
    />
  </a>
  <div class="desc">Photographer</div>
</div>
